<!--navbar -->
    <div class="navbar">
        <h1>Ajser Jumanudheen KTP</h1>
        <a href="/user/logout">
        <button class="logout-btn">Logout</button>
        </a>
        
    </div>

    <div class="hero">
        <div class="welcome-card">
            <h2>Welcome to wolrd of Technologies</h2>
            <p>Please subscribe to stay updated</p>
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>